/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /*padding-top: 3rem;
  padding-bottom: 3rem;*/
  font-family: Poppins;
  color: #5a5a5a;
  font-size: 18px;
  line-height: 34px;
}

@font-face {
  font-family: LemonMilk;
  src: url('../font/lemonmilk/LEMONMILK-Regular.otf');
}

@font-face {
  font-family: Roboto;
  src: url('../font/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('../font/poppins/Poppins-Regular.otf');
}

h1, h2, h3, h4, h5 {
  font-family: LemonMilk;
}

a, p, span {
  font-family: Roboto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 767px) {
  .featurette-heading {
    margin-top: 7rem;
  }

  .navbar {
    height: initial !important;
  }

  .navbar-nav {
    text-align: right;
  }
}

/* CUSTOM CSS
-------------------------------------------------- */

.navbar-dark .navbar-nav .nav-link {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-transform: initial;
}

.carousel-inner .carousel-item > img {
  top: 0px;
}

.navbar {
  height: 85px;
}

.navbar-collapse .navbar-nav {
  float: right;
}

.navbar-brand img {
  width: 360px;
  margin: 15px 25px;
}

.navbar-brand h1 {
  text-transform: uppercase;
  margin-bottom: 0px;
}

.navbar-brand span {
  font-size: 25px;
  display: block;
  position: relative;
  top: -5px;
  letter-spacing: 0.2px;
}

.navbar-nav {
  float: right;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.navbar-nav .nav-item {
  margin-left: 45px;
}

.sliders {
  background-color: #6c757d;
}

.lead {
  text-align: justify;
  text-align: justify;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}

.about-us-image {
  height: 490px;
  float: right;
}

.featurette span {
  font-weight: 400;
}

.featurette-heading {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold !important;
  font-size: 70px;
  margin-bottom: 30px;
  margin-top: 0;
}

.marketings {
  padding: 100px 0px;
}

.portfolios {
  padding: 0px 0px;
  padding-top: 0;
}

.portfolios h2 {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 90px;
  margin-bottom: 30px;
}

.portfolios .header-container {
  padding-top: 100px;
  background-image: url('../img/bg-portfolios.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.portfolio {
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 14px;
}

.portfolio h4 {
  position: absolute;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  bottom: 34px;
  left: 14px;
  width: 95%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.portfolio img {
  width: 100%;
}

.contact-us {
  padding: 0px 0px 50px;
  background-color: #000000;
  margin-top: 100px;
}

.contact-us .text-muted {
  font-weight: 400;
}

.contact-us h2 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 90px;
  margin-bottom: 30px;
}

.no-show {
  display: none;
}

.carousel-control.left,.carousel-control.right {
  background-image:none;
  margin-top:10%;
  width:5%;
}

.contact-us .header-container {
  padding-top: 50px;
  background-image: url('../img/bg-contact-us.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-y: 70%;
  padding-bottom: 20px;
}

.contact-icon {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-us a {
  display: block;
  text-align: center;
  padding: 5px 0px;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 15px;
}

.contact-icon img {
  display: block;
  margin: auto;
}

.phone-icon img {
  width: 110px;
  margin-top: 6px;
  margin-bottom: 7px;
}

.email-icon img {
  width: 115px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.web-icon img {
  margin-top: 17px;
  margin-bottom: 17px;
}

.map-icon img {
  width: 85px;
  margin-top: 2px;
  margin-bottom: 3px;
}

footer {
  background-color: #000000;
  padding: 20px 0px;
  color: #ffffff;
  text-align: center;
}

footer p {
  margin: 0px;
  font-family: 'Poppins';
  font-size: 13px;
}

.modal-header {
  display: block;
}

#modal-carousel {
  margin-bottom: 0;
}

.modal-title {
  font-size: 20px;
}

.carousel-caption {
  text-transform: uppercase;
  bottom: 39%;
  left: 13%;
}

.carousel-caption h2 {
  font-size: 80px;
  text-transform: uppercase;
}

.slider2 .carousel-caption {
  right: 10%;
}

.slider1 .carousel-caption-description {
  left: 14%;
  bottom: 31%;
}

.slider1 .carousel-caption-description h3 {
  font-size: 40px;
}

.slider2 .carousel-caption-description {
  bottom: 31%;
  right: 11%;
}

.slider2 .carousel-caption-description h3 {
  font-size: 40px;
}

.slider3 .carousel-caption-description {
  left: 14%;
  bottom: 31%;
}

.slider3 .carousel-caption-description h3 {
  font-size: 40px;
}

.more {
  background-color: #c1282a;
  color: #ffffff;
  padding: 15px 15px;
  border-radius: 5px;
  margin-top: 10px;
  width: auto;
  display: inline-block;
}

.more:hover {
  color: #ffffff;
}

.bg-red {
    background-color: #c1282a !important;
}

.topbar {
  color: #ffffff;
  background: #383838;
}

.topbar p {
  margin: 0;
  padding: 10px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}

.breadcrumb {
  margin-bottom: 0;
  background-color: #071831;
  border-radius: 0;
  padding: 40px 0px;
}

.breadcrumb a {
  color: #ffffff;
}

.breadcrumb h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 45px;
  color: #ffffff;
}